<!-- Footer
================================================== -->

<!-- Footer / Start -->
<footer id="footer">
	<!-- 960 Container -->
	<div class="container">

		<!-- About -->
		<div class="four columns">
			<img id="logo-footer" src="{{ site.empty_image }}" data-src="/images/devillers-footer.png" alt="Martin Devillers - Freelance Software Engineer" data-srcset="/images/devillers-footer@2x.png 2x"/>
			<p>Freelance Software Engineer</p>

		</div>

		<!-- Contact Details -->
		<div class="four columns">
			<h4>{{ site.t[page.lang].contactgegevens }} </h4>
			<ul class="contact-details-alt">
				<li><i class="halflings white map-marker"></i> <p><strong>{{ site.t[page.lang].adres }}:</strong> <a href="https://maps.google.com/?q=Kerkstraat+72B,+1017+GN+Amsterdam,+Netherlands" onclick="ga('send', 'event', 'Adresgegevens bekeken', 'click', 'Voet');">Kerkstraat 72B, 1017 GN Amsterdam</a></p></li>
				<li><i class="halflings white envelope"></i> <p><strong>Email:</strong> <a href="mailto:martin@devillers.nl" onclick="ga('send', 'event', 'E-mail contact', 'click', 'Voet');">martin@devillers.nl</a></p></li>
			</ul>
		</div>

		<!-- Photo Stream -->
		<div class="four columns">
			<h4>Photo Stream</h4>
			<div class="flickr-widget">
				<script type="text/javascript" src="//www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=136421181@N08"></script>
				<div class="clearfix"></div>
			</div>
		</div>

		<!-- Twitter -->
		<div class="four columns">
			<h4>Twitter</h4>
			<ul id="twitter"></ul>
			<div class="clearfix"></div>
		</div>

	</div>
	<!-- 960 Container / End -->

</footer>
<!-- Footer / End -->


<!-- Footer Bottom / Start  -->
<footer id="footer-bottom">

	<!-- 960 Container -->
	<div class="container">

		<!-- Copyrights -->
		<div class="eight columns">
			<div class="copyright">
				© 2014-2018 <a href="/">Devillers</a>, Amsterdam. {{ site.t[page.lang].allerechtenvoorbehouden }}
			</div>
		</div>

		<!-- Menu -->
		<div class="eight columns">
			<nav id="sub-menu">
				<ul>
					<li><a href="/sitemap.xml">Sitemap</a></li>
					<li><a href="/privacy/">Privacy</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- 960 Container / End -->

</footer>
<!-- Footer Bottom / End -->
