<!-- Header
================================================== -->
<div id="top-line"></div>

<!-- 960 Container -->
<div class="container">

	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<div class="ten columns">
			<div id="logo">
				<h1><a href="/"><img src="/images/devillers.png" alt="Martin Devillers" srcset="/images/devillers@2x.png 2x"/></a></h1>
				<div id="tagline">Freelance Software Architect</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="six columns">

			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="twitter"><a href="https://twitter.com/MartinDevillers" onclick="ga('send', 'event', 'Twitter bekeken', 'click', 'Kop');">Twitter</a></li>
				<li class="facebook"><a href="https://www.facebook.com/mma.devillers" onclick="ga('send', 'event', 'Facebook bekeken', 'click', 'Kop');">Facebook</a></li>
				<li class="gplus"><a href="https://plus.google.com/+DevillersNlArchitect" onclick="ga('send', 'event', 'Google Plus bekeken', 'click', 'Kop');">Google Plus</a></li>
				<li class="linkedin"><a href="https://www.linkedin.com/in/mdevillers" onclick="ga('send', 'event', 'LinkedIn bekeken', 'click', 'Kop');">LinkedIn</a></li>				
				<li class="github"><a href="https://github.com/MartinDevillers" onclick="ga('send', 'event', 'GitHub bekeken', 'click', 'Kop');">GitHub</a></li>
				<li class="stackoverflow"><a href="https://stackoverflow.com/users/546967/martin-devillers" onclick="ga('send', 'event', 'Stack Overflow bekeken', 'click', 'Kop');">Stack Overflow</a></li>
				<li class="rss"><a href="/atom.xml">RSS</a></li>
			</ul>

			<div class="clearfix"></div>

			<div class="clearfix"></div>

			<!-- Search -->
			<nav class="top-search">
				<form action="https://google.com/search" method="get">
					<input type="hidden" name="sitesearch" value="devillers.nl" />
					<input class="search-field" type="text" name="q" onblur="if(this.value=='')this.value='{{ site.t[page.lang].zoeken }}';" onfocus="if(this.value=='{{ site.t[page.lang].zoeken }}')this.value='';" value="{{ site.t[page.lang].zoeken }}" />
				</form>
			</nav>

		</div>
	</header>
	<!-- Header / End -->

	<div class="clearfix"></div>

</div>
<!-- 960 Container / End -->


<!-- Navigation
================================================== -->
<nav id="navigation" class="style-1">

<div class="left-corner"></div>
<div class="right-corner"></div>

{% assign current = page.url | downcase | split: '/' %}

{% if page.lang == 'nl' %}
<ul class="menu" id="responsive">

	<li><a href="/" {% if current[1] == null %}id="current"{% endif %}><i class="halflings white home"></i> Home</a></li>
	
	<li><a href="/visie/" {% if current[1] == 'visie' %}id="current"{% endif %}><i class="halflings white eye-open"></i> Visie</a></li>

	<li><a href="/dienstverlening/" {% if current[1] == 'dienstverlening' %}id="current"{% endif %}><i class="halflings white cog"></i> Dienstverlening</a>
		<!-- Second Level / Start -->
		<ul>
			<li><a href="/dienstverlening/solution-architectuur/">Solution Architectuur</a></li>
			<li><a href="/dienstverlening/applicatie-ontwerp/">Applicatie Ontwerp</a></li>
			<li><a href="/dienstverlening/software-ontwikkeling/">Software Ontwikkeling</a></li>
			<li><a href="/dienstverlening/technische-coach/">Technische Coach</a></li>
			<li><a href="/dienstverlening/rapid-prototyping/">Rapid Prototyping</a></li>
			<li><a href="/dienstverlening/artikelen-schrijven/">Artikelen schrijven</a></li>
		</ul>
		<!-- Second Level / End -->
	</li>

	<li><a href="/projecten/" {% if current[1] == 'projecten' %}id="current"{% endif %}><i class="halflings white briefcase"></i> Projecten</a>
		<!-- Second Level / Start -->
		<ul>
			<li><a href="/projecten/selectives/">Selectives</a></li>
			<li><a href="/projecten/wing/">WING</a></li>
			<li><a href="/projecten/ov-chipkaart/">OV-chipkaart</a></li>
			<li><a href="/projecten/screenconsult/">ScreenConsult</a></li>
			<li><a href="/projecten/kanzi/">Kanzi</a></li>
		</ul>
		<!-- Second Level / End -->
	</li>
	
	<li><a href="/blog/" {% if current[1] == 'blog' %}id="current"{% endif %}><i class="halflings white pencil"></i> Blog</a></li>

	<li><a href="/contact/" {% if current[1] == 'contact' %}id="current"{% endif %}><i class="halflings white envelope"></i> Contact</a></li>

	<li class="floatr"><a href="{{ ref.url | default:"/en/" }}"><img src="/images/gb.gif" alt="English language"/> English</a></li>
	
</ul>
{% endif %}
{% if page.lang == 'en' %}
<ul class="menu" id="responsive">

	<li><a href="/en/" {% if current[2] == null %}id="current"{% endif %}><i class="halflings white home"></i> Home</a></li>
	
	<li><a href="/en/vision/" {% if current[2] == 'vision' %}id="current"{% endif %}><i class="halflings white eye-open"></i> Vision</a></li>

	<li><a href="/en/services/" {% if current[2] == 'services' %}id="current"{% endif %}><i class="halflings white cog"></i> Services</a>
		<!-- Second Level / Start -->
		<ul>
			<li><a href="/en/services/solution-architecture/">Solution Architecture</a></li>
			<li><a href="/en/services/application-design/">Application Design</a></li>
			<li><a href="/en/services/software-development/">Software Development</a></li>
			<li><a href="/en/services/technical-coach/">Technial Coach</a></li>
			<li><a href="/en/services/rapid-prototyping/">Rapid Prototyping</a></li>
			<li><a href="/en/services/professional-blogger/">Professional Blogger</a></li>
		</ul>
		<!-- Second Level / End -->
	</li>

	<li><a href="/en/projects/" {% if current[2] == 'projects' %}id="current"{% endif %}><i class="halflings white briefcase"></i> Projects</a>
		<!-- Second Level / Start -->
		<ul>
			<li><a href="/en/projects/selectives/">Selectives</a></li>
			<li><a href="/en/projects/wing/">WING</a></li>
			<li><a href="/en/projects/ov-chipkaart/">OV-chipkaart</a></li>
			<li><a href="/en/projects/screenconsult/">ScreenConsult</a></li>
			<li><a href="/en/projects/kanzi/">Kanzi</a></li>
		</ul>
		<!-- Second Level / End -->
	</li>
	
	<li><a href="/blog/" {% if current[1] == 'blog' %}id="current"{% endif %}><i class="halflings white pencil"></i> Blog</a></li>

	<li><a href="/en/contact/" {% if current[2] == 'contact' %}id="current"{% endif %}><i class="halflings white envelope"></i> Contact</a></li>
	
	<li class="floatr"><a href="{{ ref.url | default:"/" }}"><img src="/images/nl.gif" alt="Nederlandse taal"/> Nederlands</a></li>

</ul>
{% endif %}
</nav>
<div class="clearfix"></div>