<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="{{ page.lang }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{ page.lang }}"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>
{% if page.title %}
  {{ page.title }} &middot; Devillers
{% else %}
  Devillers &middot; Freelance Software Architect
{% endif %}
</title>

{% assign refs = site.pages | where:"ref", page.ref %}

{% if page.lang == 'nl' %}
  {% assign ref = refs | where:"lang", "en" | first %}
<meta name="description" content="Ik ben een freelance software architect die organisaties graag helpt met het ontwerpen en ontwikkelen van krachtige doch eenvoudige IT-oplossingen.">
<meta name="keywords" content="freelance,software,architectuur,devillers,ontwikkeling,ontwerp,consultant,web,mobile,cloud,enterprise,soa,microsoft,java,xamarin,android,ios,azure,amazon,atlassian,sql,selenium,saml,docker,github,browserstack,knockout,jquery,paas,saas,iaas,bitrise">
{% endif %}
{% if page.lang == 'en' %}
  {% assign ref = refs | where:"lang", "nl" | first %}
<meta name="description" content="I am a freelance software architect that enjoys helping organizations with the design and implementation of elegant yet powerful IT-solutions.">
<meta name="keywords" content="freelance,software,architecture,devillers,development,design,consultant,web,mobile,cloud,enterprise,soa,microsoft,java,xamarin,android,ios,azure,amazon,atlassian,sql,selenium,saml,docker,github,browserstack,knockout,jquery,development,saas,iaas,bitrise">
{% endif %}

{% if ref %}
  <link rel="alternate" hreflang="{{ ref.lang }}" href="{{ ref.url }}">
{% endif %}

<meta name="author" content="Martin Devillers">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://plus.google.com/+DevillersNlArchitect?rel=publisher" rel="license">
<link href="https://plus.google.com/+MartinDevillers" rel="author">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/main.css">
{% comment %}
<style type="text/css">
{% capture inline_css %}
  {% include inline.scss %}
{% endcapture %}
{{ inline_css | scssify }}
</style>
{% endcomment %}

<!-- Icons
================================================== -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#672a7b">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

</head>