<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="nl"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>
{% if page.title %}
  {{ page.title }} &middot; Devillers
{% else %}
  Devillers &middot; Freelance Software Architect
{% endif %}
</title>

<meta name="description" content="Ik ben een freelance software architect die organisaties graag helpt met het ontwerpen en ontwikkelen van krachtige doch eenvoudige IT-oplossingen.">
<meta name="keywords" content="freelance,software,architecture,devillers,ontwikkeling,ontwerp,architectuur,consultant,web,mobile,cloud,enterprise,soa,microsoft,java,xamarin,android,ios,azure,amazon,atlassian,sql,selenium,saml,docker,github,browserstack,knockout,jquery">
<meta name="author" content="Martin Devillers">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://plus.google.com/+DevillersNlArchitect?rel=publisher" rel="license">
<link href="https://plus.google.com/+MartinDevillers" rel="author">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/purple2.css" id="colors">
<link rel="stylesheet" href="/css/syntax.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.flexslider.js"></script>
<script src="/scripts/jquery.selectnav.js"></script>
<script src="/scripts/jquery.twitter.js"></script>
<script src="/scripts/jquery.modernizr.js"></script>
<script src="/scripts/jquery.easing.1.3.js"></script>
<script src="/scripts/jquery.contact.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/jquery.jcarousel.js"></script>
<script src="/scripts/jquery.fancybox.min.js"></script>
<script src="/scripts/jquery.transit-modified.js"></script>
<script src="/scripts/layerslider.transitions.js"></script>
<script src="/scripts/layerslider.kreaturamedia.jquery.js"></script>
<script src="/scripts/greensock.js"></script>
<script src="/scripts/jquery.shop.js"></script>
<script src="/scripts/twitterFetcher.min.js"></script>
<script src="/scripts/custom.js"></script>

</head>